header {
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  border-bottom: 1px solid #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

section.body {
  height: calc(100vh);
  padding-top: 60px;
  background-image: linear-gradient(#333, #111);
  overflow-y: auto;
  color: #fff;
}

.animes-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  color: #fff;
  justify-content: space-around;
}

.anime-wrapper {
  display: block;
  text-decoration: none;
  color: #fff;
}

.detail-wrapper {
  color: #fff;
  display: flex;
}
